

.button {
  -fx-background-color: #CFCFCF;
}

.button:hover {
  -fx-background-color: #40A853;
  -fx-text-fill: white;
}

.text:hover {
  -fx-text-fill: #ff8d36;
}

.button2 {
  -fx-background-color: #40a853;
}

.button2:hover {
  -fx-background-color: #ff8d36;
}
